# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [0]:
import pandas as pd
import numpy as np

In [9]:
# 法一
people = np.random.randint(100000000, size=2)
country = ['A', 'B']

data = {'國家': country,
        '人口': people}
df = pd.DataFrame(data)
df

  國家        人口
0  A  95004696
1  B  38671747

In [10]:
# 法二
people = np.random.randint(100000000, size=2)
country = ['A', 'B']

labels = ["國家", "人口"]
lists = [country, people]

data_dict = dict(list(zip(labels, lists)))
df = pd.DataFrame(data_dict)
df

  國家        人口
0  A  77053645
1  B  34982173

In [11]:
# 求人口數最多的國家
df['國家'][df['人口'].idxmax]

'A'