# 範例 : 計程車費率預測
https://www.kaggle.com/c/new-york-city-taxi-fare-prediction

# [作業目標]
- 試著模仿範例寫法, 使用程車費率預測競賽練習時間欄位處理

# [作業重點]
- 新增星期幾(day of week)與第幾周(week of year)這兩項特徵, 觀察有什麼影響 (In[4], Out[4], In[5], Out[5])
- 新增加上年週期與周周期特徵 , 觀察有什麼影響 (In[8], Out[8], In[9], Out[9])

In [3]:
# 做完特徵工程前的所有準備
import pandas as pd
import numpy as np
import datetime
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import GradientBoostingRegressor

data_path = 'data/'
df = pd.read_csv(data_path + 'taxi_data1.csv')

train_Y = df['fare_amount']
df = df.drop(['fare_amount'] , axis=1)
df.head()

           pickup_datetime  pickup_longitude  ...  dropoff_latitude  passenger_count
0  2011-10-21 23:54:10 UTC        -73.990580  ...         40.758634                2
1  2015-02-03 10:42:03 UTC        -73.988403  ...         40.741695                1
2  2014-03-16 18:58:58 UTC        -74.015785  ...         40.707888                2
3  2009-06-13 16:10:54 UTC        -73.977322  ...         40.778838                3
4  2014-06-12 03:25:56 UTC        -73.989683  ...         40.761887                3

[5 rows x 6 columns]

In [4]:
# 時間特徵分解方式:使用datetime
df['pickup_datetime'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S UTC'))
df['pickup_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%Y')).astype('int64')
df['pickup_month'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%m')).astype('int64')
df['pickup_day'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%d')).astype('int64')
df['pickup_hour'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%H')).astype('int64')
df['pickup_minute'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%M')).astype('int64')
df['pickup_second'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%S')).astype('int64')
df.head()

      pickup_datetime  pickup_longitude  ...  pickup_minute  pickup_second
0 2011-10-21 23:54:10        -73.990580  ...             54             10
1 2015-02-03 10:42:03        -73.988403  ...             42              3
2 2014-03-16 18:58:58        -74.015785  ...             58             58
3 2009-06-13 16:10:54        -73.977322  ...             10             54
4 2014-06-12 03:25:56        -73.989683  ...             25             56

[5 rows x 12 columns]

In [5]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
scaler = MinMaxScaler()
train_X = scaler.fit_transform(df_temp)
Linear = LinearRegression()
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
GDBT = GradientBoostingRegressor()
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.026876871475639042
Gradient Boosting Reg Score : 0.710176714203134

# 作業1
* 對照範例，試著加入星期幾 (day of week) 與第幾周 (week of year) 這兩項特徵，  
看看結果會比原本只有時間特徵分解的結果更好或更差?

**A**: 稍微好點

In [6]:
# 加入星期幾與第幾周兩個特徵
df['pickup_day_of_week'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%w')).astype('int64')
df['pickup_week_of_year'] = df['pickup_datetime'].apply(lambda x: datetime.datetime.strftime(x, '%W')).astype('int64')
df.head()

      pickup_datetime  ...  pickup_week_of_year
0 2011-10-21 23:54:10  ...                   42
1 2015-02-03 10:42:03  ...                    5
2 2014-03-16 18:58:58  ...                   10
3 2009-06-13 16:10:54  ...                   23
4 2014-06-12 03:25:56  ...                   23

[5 rows x 14 columns]

In [7]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028649006962516977
Gradient Boosting Reg Score : 0.7112647940817869

In [8]:
# 加上"日週期"特徵 (參考講義"週期循環特徵")
import math
df['day_cycle'] = df['pickup_hour']/12 + df['pickup_minute']/720 + df['pickup_second']/43200
df['day_cycle'] = df['day_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

      pickup_datetime  pickup_longitude  ...  pickup_week_of_year  day_cycle
0 2011-10-21 23:54:10        -73.990580  ...                   42  -0.025450
1 2015-02-03 10:42:03        -73.988403  ...                    5   0.333601
2 2014-03-16 18:58:58        -74.015785  ...                   10  -0.967083
3 2009-06-13 16:10:54        -73.977322  ...                   23  -0.888817
4 2014-06-12 03:25:56        -73.989683  ...                   23   0.782427

[5 rows x 15 columns]

In [9]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028274009668806797
Gradient Boosting Reg Score : 0.7118511850308397

# 作業2
* 對照範例的日週期效果，試著參考投影片完成年週期與周週期的特徵 (也可以用你自己想到的方式)，  
看看結果會比範例中的結果更好或更差?

**A**: 好一點

In [10]:
# 加上"年週期"與"周週期"特徵
df['year_cycle'] = df['pickup_month'] / 6 + df['pickup_day'] / 180
df['year_cycle'] = df['year_cycle'].map(lambda x:math.cos(x*math.pi))

df['week_cycle'] = df['pickup_day_of_week'] / 3.5 + df['pickup_hour'] / 84
df['week_cycle'] = df['week_cycle'].map(lambda x:math.sin(x*math.pi))
df.head()

      pickup_datetime  pickup_longitude  ...  year_cycle  week_cycle
0 2011-10-21 23:54:10        -73.990580  ...    0.777146   -0.804598
1 2015-02-03 10:42:03        -73.988403  ...    0.453990    0.826239
2 2014-03-16 18:58:58        -74.015785  ...   -0.275637    0.623490
3 2009-06-13 16:10:54        -73.977322  ...   -0.974370   -0.294755
4 2014-06-12 03:25:56        -73.989683  ...   -0.978148   -0.532032

[5 rows x 17 columns]

In [11]:
# 將結果使用線性迴歸 / 梯度提升樹分別看結果
df_temp = df.drop(['pickup_datetime'] , axis=1)
train_X = scaler.fit_transform(df_temp)
print(f'Linear Reg Score : {cross_val_score(Linear, train_X, train_Y, cv=5).mean()}')
print(f'Gradient Boosting Reg Score : {cross_val_score(GDBT, train_X, train_Y, cv=5).mean()}')

Linear Reg Score : 0.028326599866694634
Gradient Boosting Reg Score : 0.714666125683676